access_key = "XXXXXXXXXXXXXXXXXXXX"
secret_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
client     = "CASASBAHIA"
host       = "casasbahia.com"
zone_id    = "XXXXXXXXXXXXXXXXXXXX"
apps       = "--wp-sql-nginx-ssl"
email      = "nestor.junior@gmail.com"